<!--
==================================================
Header Section Start
================================================== -->
<header id="top-bar" class="navbar-fixed-top animated-header">
    <div class="container">
        <div class="navbar-header">
            <!-- responsive nav button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Навигация по сайту</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <!-- /responsive nav button -->
            
            <!-- logo -->
            <div class="navbar-brand">
                <a href="<%= root_url %>" >
                    <img src="<%= image_path 'logo.png' %>" alt="Логотип Con-Con">
                </a>
            </div>
            <!-- /logo -->
        </div>
        <!-- main menu -->
        <nav class="collapse navbar-collapse navbar-right" role="navigation">
            <div class="main-menu">
                <ul class="nav navbar-nav navbar-right">
                <% if individual_signed_in? %>
                    <li><a href="<%= feed_path %>" >Контент</a></li>
                    <li><a href="<%= profile_path %>" >Мой профиль</a></li>
                    <li><%= link_to 'Выйти', destroy_individual_session_path, method: 'delete' %></li>
                <% else %>
                    <li><a href="<%= root_url %>" >Главная</a></li>
                    <li><a href="<%= about_path %>">О проекте</a></li>
                <% end %>
                </ul>
            </div>
        </nav>
        <!-- /main nav -->
    </div>
</header>
