<form action="<%= payments_path %>" method="POST">
<script
  src="https://checkout.stripe.com/checkout.js" class="stripe-button"
  data-key="<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>"
  data-amount="<%= publication.price * 100 %>"
  data-name="<%= publication.title %>"
  data-description="<%= "ВСТАВИТЬ ИМЯ АВТОРА" %>"
  data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
  data-locale="auto"
  data-email="<%= current_individual.email %>">
</script>
</form>
