<section id="blog-full-width">
<div class="container">
<div class="row">
    <div class="col-md-4">
        <div class="sidebar">
            <div class="author widget">
                <img class="img-responsive" src="<%= image_path 'author/author-bg.jpg' %>">
                <div class="author-body text-center">
                    <div class="author-img">
                        <%= image_tag @current_individual.image.url(:thumb) %>
                    </div>
                    <div class="author-bio">
                        <h3><%= "#{current_individual.first_name} #{current_individual.last_name}" %></h3>
                        <p><strong>Род деятельности:</strong> <%= current_individual.major %></p>
                        <p><strong>О себе:</strong> <%= current_individual.about %></p>
                    </div>
                    <% if current_individual.can_sell? %>
                      <div class="blog-content">
                        <%= link_to 'Опубликовать статью', new_publication_path, class: 'btn btn-dafault btn-details' %>
                      </div>
                    <% end %>
                </div>
            </div>
            <% if current_individual.can_sell? %>
            <div class="categories widget">
                <h3 class="widget-head">Статус работ</h3>
                <ul>
                    <li>
                        <a href="" id="activeButton" onclick="event.preventDefault()">Активные</a> <span class="badge"><%= publications.count %></span>
                    </li>
                    <li>
                        <a href="" id="soldButton" onclick="event.preventDefault()">Проданные</a> <span class="badge"><%= sold_publications.count %></span>
                    </li>
                </ul>
            </div>
            <% end %>
        </div>
        </div>
        <div class="col-md-8">
            <br><br>
            <% if current_individual.can_sell? %>
              <h1>Мои статьи</h1>
              <% if !publications.any? %>
                Вы еще не добавили ни одной статьи. Нажмите на кнопку "Опубликовать статью" для того, чтобы приступить.
              <% end %>
            <% else %>
              <h1>Купленные статьи</h1>
              <% if !publications.any? %>
                Вы еще не купили ни одной статьи. Перейдите в <a href="<%= feed_path %>">каталог</a>, для того, чтобы начать.
              <% end %>
            <% end %>
            <%= render partial: 'shared/publication', collection: publications %>
        </div>
    </div>
</section>
