<section id="blog-full-width">
<div class="container">
<div class="row">
    <div class="col-md-4">
        <div class="sidebar">
            <div class="author widget">
                <img class="img-responsive" src="<%= image_path 'author/author-bg.jpg' %>">
                <div class="author-body text-center">
                    <div class="author-img">
                        <img src="<%= image_path 'author/author.jpg' %>">
                    </div>
                    <div class="author-bio">
                        <h3><%= "#{current_individual.first_name} #{current_individual.last_name}" %></h3>
                        <p><strong>Род деятельности:</strong> <%= current_individual.major %></p>
                        <p><strong>О себе:</strong> <%= current_individual.about %></p>
                    </div>
                    <div class="blog-content">
                      <%= link_to 'Опубликовать статью', new_publication_path, class: 'btn btn-dafault btn-details' %>
                    </div>
                </div>
            </div>
            <div class="categories widget">
                <h3 class="widget-head">Статус работ</h3>
                <ul>
                    <li>
                        <a href="">Активные</a> <span class="badge"><%= publications.count %></span>
                    </li>
                    <li>
                        <a href="">Проданные</a> <span class="badge"><%= sold_publications.count %></span>
                    </li>
                </ul>
            </div>
        </div>
        </div>
        <div class="col-md-8">
            <%= render partial: 'shared/publication', collection: publications %>
        </div>>
    </div>
</section>
