<section id="contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="block">
                  <h2 class="subtitle wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".3s">Регистрация профиля</h2>
                  <div class="contact-form">
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                      <%= devise_error_messages! %>

                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                            <%= f.text_field :first_name, class: 'form-control', placeholder: 'Имя', autofocus: true %>
                        </div>

                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                            <%= f.text_field :last_name, class: 'form-control', placeholder: 'Фамилия', autofocus: true %>
                        </div>

                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                            <%= f.text_field :phone_number, class: 'form-control', placeholder: 'Номер телефона', autofocus: true %>
                        </div>

                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                            <%= f.email_field :email, class: 'form-control', placeholder: 'Адрес электронной почты', autofocus: true %>
                        </div>

                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                            <%= f.text_field :major, class: 'form-control', placeholder: 'Род деятельности', autofocus: true %>
                        </div>

                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay=".8s">
                            <%= f.text_area :about, class: 'form-control', placeholder: 'О себе', autofocus: true %>
                        </div>

                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                          <%= f.password_field :password, class: 'form-control', placeholder: 'Пароль', autofocus: false %>
                        </div>

                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                          <%= f.password_field :password, class: 'form-control', placeholder: 'Подтверждение пароля', autofocus: false %>
                        </div>

                        <div class="form-group wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1s">
                          <%= f.check_box :seller, class: 'form-control', autofocus: false %>
                          <%= f.label :seller, 'Буду продавать', autofocus: false %>
                        </div>

                        <div id="submit" class="wow fadeInDown" data-wow-duration="500ms" data-wow-delay="1.2s">
                            <input type="submit" id="contact-submit" class="btn btn-default btn-send" value="Создать профиль">
                        </div>

                      <% end %>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
