<!DOCTYPE html>
<html>
  <head>
    <title>Content Connection</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash_messages %>

    <%= render 'shared/header' %>

    <%= yield %>
    <%= render 'shared/footer' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
